# Preferred on Mac:
POSTGRES_USER="user"
POSTGRES_PASSWORD="password"
POSTGRES_DATABASE="good-dog"
POSTGRES_PORT=5432

DATABASE_PRISMA_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DATABASE}"

MAILERSEND_API_KEY=""
VERIFICATION_FROM_EMAIL="example@gmail.com"

# Windows Version:
# Strings must be in double quotes on Windows, and template strings cannot be used

# POSTGRES_USER="user"
# POSTGRES_PASSWORD="password"
# POSTGRES_DATABASE="good-dog"
# POSTGRES_PORT=5432

# DATABASE_PRISMA_URL="postgresql://user:password@localhost:5432/good-dog"

# SENDGRID_API_KEY=""
# VERIFICATION_FROM_EMAIL="example@gmail.com"