@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Afacad&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --good-dog-main: #098465;
    --custom-gradient: linear-gradient(180deg, #FFFBF6 29.69%, #E9F8EC 55.49%, #D3F4E2 96.78%);
    --header-primary: #E9F9F1;
    --body-text: #E9F9F1;
    --shadow-color: #098465
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --good-dog-main: #07634C;
      --custom-gradient: linear-gradient(180deg, #022119 55.17%, #021913 81.66%);
      --header-primary: #022119;
      --body-text: #054233;
      --shadow-color: 
    }
  }

  body {
    @apply font-['Afacad',sans-serif] text-[var(--body-text)];
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  h1 {
    color: #054233;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 96%;
  }

  h2 {
    color: #022119;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 104%;
  }

  h3 {
    color: #2e2e2e;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 104%;
  }

  p {
    color: #2e2e2e;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 96%;
  }
}
