@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Afacad&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Afacad", sans-serif;
    color: #2e2e2e;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  h1 {
    color: #054233;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 96%;
  }

  h2 {
    color: #022119;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 104%;
  }

  h3 {
    color: #2e2e2e;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 104%;
  }

  p {
    color: #2e2e2e;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 96%;
  }
}
